.connectus-container {
  width: 100%;
  height: auto;
  min-height: 70vh;
  background-image: url(/public/assets/bg-5.1_part-2.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  padding-top: 3%;
}

.forms-container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper {
  min-width: 35%;
  height: auto;
}

.form-box {
  background: transparent;
  border: 3px solid white;
  backdrop-filter: blur(12px);
  color: #fff;
  border-radius: 12px;
  padding: 8% 7%;
}

.form-box h1 {
  font-family: "FontTwo", cursive;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}

h1.login-register-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateX(-160px);
}

.login.fade-out {
  opacity: 0;
  transform: translateX(50px);
}

.register {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-50px);
}

.register.fade-in {
  transform: translateX(130px);
  opacity: 1;
}

.form-box .input-box {
  width: 100%;
  height: 50px;
  margin: 8% 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: rgb(111, 110, 110);
  text-align: left;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}

.form-box .forgot {
  font-size: 14.5px;
  margin-left: 65%;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: translateX(0px);
}

.form-box .forgot.fade-out {
  opacity: 0;
  transform: translateX(70px);
}

.form-box .acknowledge {
  font-size: 14.5px;
  margin-left: 3%;
  color: gray;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-50px);
}

.form-box .acknowledge.fade-in {
  opacity: 1;
  transform: translateX(0px);
}

.acknowledge label {
  width: 100%;
  display: flex;
  align-items: center;
}

.acknowledge label input {
  accent-color: #fff;
  margin-right: 2%;
  width: 15px;
  height: 15px;
}

.forgot a {
  color: gray;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: none;
  color: #fff;
}

.form-box .register-link {
  font-size: 14.5px;
  text-align: center;
}

.register-link p label {
  color: gray;
  text-decoration: none;
  font-weight: 600;
}

.register-link p label:hover {
  text-decoration: none;
  color: #fff;
}

.button_login {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-family: "FontOne", sans-serif;
  border-width: 5px;
  border-radius: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-button {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-160px);
}

.login-button.fade-out {
  opacity: 0;
  transform: translateX(50px);
}

.register-button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-20px);
}

.register-button.fade-in {
  transform: translateX(150px);
  opacity: 1;
}

.input-box textarea {
  width: 100%;
  height: auto;
  background: transparent;
  outline: none;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  padding: 10% 20% 6% 5%;
  resize: none;
  overflow: hidden;
}

.input-box textarea::placeholder {
  color: rgb(110, 110, 110);
  text-align: left;
}

.button_submit {
  width: 100%;
  margin-top: 21%;
  margin-bottom: 2%;
  font-family: "FontOne", sans-serif;
  border-width: 5px;
  border-radius: 0%;
  /* TODO: should use this space to show messages to the user */
  margin-bottom: 7%;
}

.message {
  display: flex;
  justify-content: center;
  color: gray;
  font-size: 14px;
}
