.logoName {
  font-family: "FontTwo", cursive;
  color: white;
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 2px;
}

.nav_elements {
  padding-left: 35%;
  font-family: "FontOne", sans-serif;
}

li:hover {
  color: rgba(240, 255, 255, 0.552);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}
