.partnerspage-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(/public/assets/bg-5.1_part-1.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.partners-container {
  padding-top: 3%;
}
